<div class="wrapper wrapper-content" data-ng-controller="PasswordController">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 class="text-center">Restore your password</h3>
                    <p class="small text-center">Enter your account username.</p>

                    <form data-ng-submit="askForPasswordReset()" class="signin" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong>{{error}}</strong>
                            </div>
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>{{success}}</strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
