<div class="wrapper wrapper-content" data-ng-controller="SettingsController">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 class="text-center">Edit your profile</h3>
                    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-large btn-primary">Save Profile</button>
                            </div>
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>Profile Saved Successfully</strong>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
