<template name="formUpload">

    <!-- Page heading -->
    {{> pageHeading title='File upload' category='Forms' }}

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dropzone Area</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">

                        <!-- For more info about dropzone plugin see this: https://github.com/devonbarrett/meteor-dropzone/ -->
                        {{> dropzone url='http://somewebsite.com/upload' id='dropzoneDiv'}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>