<nav class="navbar-default navbar-static-side" role="navigation" data-ng-controller="HeaderController">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- Picture of user -->
                    <!--<img alt="image" class="img-circle" src="img/profile_small.jpg"/>-->
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ng-class="{active: $uiRoute}" ui-route="/" >
                <a href="/#!/home"><i class="fa fa-laptop"></i> <span class="nav-label">Index</span></a>
            </li>
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" ng-class="{active: ($uiRoute)}">
                <a href=""><i class="fa {{item.iconClass}}"></i> <span class="nav-label">{{item.title}} </span> <span ng-show="item.items" class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: ($uiRoute)}">
                    <li role="presentation" data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                        <a role="menuitem" tabindex="-1" href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
