<div class="wrapper wrapper-content" data-ng-controller="AuthenticationController">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 class="m-t-none m-b">Sign in</h3>

                    <p>Sign in today for more expirience.</p>

                    <form role="form" name="userForm" data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn btn-large btn-primary">Sign up</button>
                            &nbsp; or&nbsp;
                            <a href="/#!/signin" class="show-signup">Sign in</a>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                        <div class="text-center">
                            <h4>Sign up using your social accounts</h4>
                            <a href="/auth/facebook" class="btn btn-white">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="/auth/twitter" class="btn btn-white">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="/auth/google" class="btn btn-white">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="/auth/linkedin" class="btn btn-white">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="/auth/github" class="btn btn-white">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
